# ==============================================
# Copyright (c) 2020 Xellar, Switzerland
# Date: 18.08.2020
# Created for: https://github.com/rmcproductions/mini and all forks which use this file
# ==============================================

node_modules
npm-debug.log

# Ignore config.json so it doesn't get added to the image / container
config.json
