<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.min.css" />
    <link rel="icon" href="/images/favicon-24.png" />
  </head>
  <body>
    <section class="content cards">
      <div tabindex="1" class="card">
          <div class="card-header rmc-mini"></div>
          <div class="card-body">
            The original mini URL shortener - Made in one night!
          </div>
          <div class="card-footer">
            <a 
              href="https://mini.rmcprod.me"
              target="_blank"
            >
              <button tabindex="2" class="btn fullsize">Visit mini</button>
            </a>
          </div>
      </div>

      <div tabindex="3" class="card">
          <div class="card-header zekro-mega"></div>
          <div class="card-body">
            Who even needs URL Shorteners when you can have chad mega links?<br><br>
            <a href="https://github.com/zekroTJA" target="_blank">zekroTJA</a> made that possible by transforming mini into mega!
          </div>
          <div class="card-footer">
            <a 
              href="https://mega.zekro.de"
              target="_blank"
            >
              <button tabindex="4" class="btn fullsize">Visit mega</button>
            </a>
          </div>
      </div>

      <div class="footer">
        <a
          tabindex="5"
          href="/"
        >
          <div class="footer-icon">
            <svg 
              xmlns="http://www.w3.org/2000/svg" 
              class="icon icon-tabler icon-tabler-chevron-left" 
              width="48" h
              eight="48" 
              viewBox="0 0 24 24" 
              stroke-width="1" 
              fill="none" 
              stroke-linecap="round" 
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z"/>
              <polyline points="15 6 9 12 15 18" />
            </svg>
          </div>
        </a>
      </div>
    </section>
    <script src="/js/main.js"></script>
  </body>
</html>
