<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link id="dark-theme" rel="stylesheet" href="" />
    <link rel="icon" href="/images/favicon-24.png" />
    <script src="/js/shorten.js"></script>
  </head>
  <body>
    <section class="content">
      <span class="headline"><%= title %></span><br />
      <form onsubmit="event.preventDefault(); shortURL()">
        <input
          tabindex="1"
          autocomplete="false"
          placeholder="Enter URL to shorten..."
          autofocus
          type="url"
          class="url-in"
          id="url-in"
        /><br />
        <span id="errorMessage"></span>
        <button type="submit" tabindex="2" class="btn">Shorten URL</button>
      </form>
    </section>

    <div class="footer">
      <a
        title="View source"
        tabindex="3"
        target="_blank"
        href="https://github.com/rmcproductions/mini"
      >
        <div class="footer-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-github"
            width="48"
            height="48"
            viewBox="0 0 24 24"
            stroke-width="1"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <path
              d="M9 19c-4.286 1.35-4.286-2.55-6-3m12 5v-3.5c0-1 .099-1.405-.5-2 2.791-.3 5.5-1.366 5.5-6.04a4.567 4.567 0 0 0 -1.333 -3.21 4.192 4.192 0 00-.08-3.227s-1.05-.3-3.476 1.267a12.334 12.334 0 0 0 -6.222 0C6.462 2.723 5.413 3.023 5.413 3.023a4.192 4.192 0 0 0 -.08 3.227A4.566 4.566 0 004 9.486c0 4.64 2.709 5.68 5.5 6.014-.591.589-.56 1.183-.5 2V21"
            />
          </svg>
        </div>
      </a>

      <a 
        title="View cool forks of this project" 
        tabindex="4" 
        href="/forks"
      >
        <div class="footer-icon">
          <svg 
            xmlns="http://www.w3.org/2000/svg" 
            class="icon icon-tabler icon-tabler-git-fork" 
            width="48" 
            height="48" 
            viewBox="0 0 24 24" 
            stroke-width="1" 
            fill="none" 
            stroke-linecap="round" 
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z"/>
            <circle cx="12" cy="18" r="2" />
            <circle cx="7" cy="6" r="2" />
            <circle cx="17" cy="6" r="2" />
            <path d="M7 8v2a2 2 0 0 0 2 2h6a2 2 0 0 0 2 -2v-2" />
            <line x1="12" y1="12" x2="12" y2="16" />
          </svg>
        </div>
      </a>

      <a
        title="Toggle dark mode"
        tabindex="5" 
        href="javascript:switchDark()"
      >
        <div class="footer-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brightness"
            width="48"
            height="48"
            viewBox="0 0 24 24"
            stroke-width="1"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <circle cx="12" cy="12" r="9" />
            <line x1="12" y1="3" x2="12" y2="21" />
            <path d="M12 9l4.65 -4.65" />
            <path d="M12 14.3l7.37 -7.37" />
            <path d="M12 19.6l8.85 -8.85" />
          </svg>
        </div>
      </a>
    </div>
  </body>
</html>
